<nav id="mm-menu" class="mm-menu">
  <div class="mm-menu__header">
    <h2 class="mm-menu__title">Polo n°20150223</h2>
  </div>

  <ul class="mm-menu__items">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Session de mesures
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="#">
                <span id="1" class="mm-menu__link-text"><i class="fa fa-home"></i> Home</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="#">
                <span id="2" class="mm-menu__link-text"><i class="fa fa-user"></i> Profile</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="#">
                <span id="3" class="mm-menu__link-text"><i class="fa fa-inbox"></i> Inbox</span>
              </a>
            </li>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Vidéo surveillance
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="#">
                <span id="1" class="mm-menu__link-text"><i class="fa fa-home"></i> Home</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="#">
                <span id="2" class="mm-menu__link-text"><i class="fa fa-user"></i> Profile</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="#">
                <span id="3" class="mm-menu__link-text"><i class="fa fa-inbox"></i> Inbox</span>
              </a>
            </li>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Parametrage
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="#">
                <span id="1" class="mm-menu__link-text"><i class="fa fa-home"></i> Home</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="#">
                <span id="2" class="mm-menu__link-text"><i class="fa fa-user"></i> Profile</span>
              </a>
            </li>
            <li class="mm-menu__item">
              <a class="mm-menu__link" href="#">
                <span id="3" class="mm-menu__link-text"><i class="fa fa-inbox"></i> Inbox</span>
              </a>
            </li>
          </div>
        </div>
      </div>
    </div>

  </ul>
</nav>