<div class="row">
	<div class="col-md-12">
		<button id="mm-menu-toggle" class="mm-menu-toggle">Toggle Menu</button>
	</div>
</div>

<br/>

<div class="row">
	<!-- Appartement -->
	<div class="col-md-12">
		<section class="panel">
			<div class="panel-body">
				<div class="top-stats-panel">
					<div id="appartement" class ="gauge-canvas">
						<h4 class="widget-header">Appartement</h4>
						<!-- <svg id="appartement"></svg> -->
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<div class="row">
	<!-- Temperature -->
	<div class="col-md-4">
		<section class="panel">
			<div class="panel-body">
				<div class="top-stats-panel">
					<div class ="gauge-canvas">
						<h4 class="widget-header">Température</h4>
						<svg id="temperature"></svg>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<!-- Humidité -->
	<div class="col-md-4">
		<section class="panel">
			<div class="panel-body">
				<div class="top-stats-panel">
					<div class ="gauge-canvas">
						<h4 class="widget-header">Humidité</h4>
						<svg id="humidite"></svg>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<!-- Acoustique -->
	<div class="col-md-4">
		<section class="panel">
			<div class="panel-body">
				<div class="top-stats-panel">
					<div class ="gauge-canvas">
						<h4 class="widget-header">Acoustique</h4>
						<svg id="acoustique"></svg>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- Luminosité -->
	<div class="col-md-4">
		<section class="panel">
			<div class="panel-body">
				<div class="top-stats-panel">
					<div class ="gauge-canvas">
						<h4 class="widget-header">Luminosité</h4>
						<svg id="luminosite"></svg>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- Qualité de l'air -->
	<div class="col-md-4">
		<section class="panel">
			<div class="panel-body">
				<div class="top-stats-panel">
					<div class ="gauge-canvas">
						<h4 class="widget-header">Qualité de l'air</h4>
						<svg id="airquality"></svg>
					</div>
				</div>
			</div>
		</section>
	</div>

	<!-- Batterie -->
	<div class="col-md-4">
		<section class="panel">
			<div class="panel-body">
				<div class="top-stats-panel">
					<div class ="gauge-canvas">
						<h4 class="widget-header">Batterie</h4>
						<svg id="batterie"></svg>
					</div>
				</div>
			</div>
		</section>
	</div>

</div>


	

