<!-- Begin main Above the fold Header -->
<div class="container-fluid">
	<div class="row">
		
		<div class="col-md-3 leftmenuholder">
			<%= render 'dashboard/leftmenu' %>
		</div>

		<div class="col-md-9">
			<div class="section_title grey">
				<h2>Hello <%= current_user.name %></h2>
				<p>Welcome on your dashboard !</p>

				<p><%= link_to "Se déconnecter", destroy_user_session_path, :method=>'delete' %></p>
			</div>
		</div>
	</div>
</div>
