.intro {
  line-height: 0em;
  position: relative;
  background:rgba(0,0,0,1);
}

video { 
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url('../images/Italy_001.png') no-repeat;
  background-size: cover;
  opacity: .5;
}