.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.row{
	margin-left: 0;
	margin-right: 0;
}

.panel{
	padding:0;
	background:#F5F5F5
}

.gauge-canvas{
	text-align:center;
}

.widget-header{
	color: #afaebc;
	font-size: 16px;
	font-weight : 300;
	text-transform: uppercase;
	margin: 0px 0px 10px 0px;
	text-align: center;
}