/* Polo&Marco App Landing Page variables Sass Stylesheet
====================================================== */

/* Fonts */
$font_primary:  Open Sans, sans-serif;

/* Color */
$background-color 	: #fff;
$link-color			: #282828;