/* Polo&Marco App Landing Page variables Sass Stylesheet
====================================================== */

/* Fonts */
$font_primary		: Open Sans, sans-serif;
$font_color			: #333;

/* Color */
$background-color 	: #fff;
$link-color			: #282828;
$btn-color-primary	: #ff9c00;
$btn-color-hover	: #B26D00;

//$btn-color-primary	: #0099e6;
$footer-bg-color	: #f2f2f2;