/* Polo&Marco App Landing Page variables Sass Stylesheet
====================================================== */
/* Fonts */
$font_primary		: Open Sans, sans-serif;
$font_color			: #333;

/* Color */
$background-color 			: #fff;
$link-color					: #282828;
// Primary Button
$btn-color-primary			: #ff9c00;
//$btn-color-primary		: #0099e6;
$btn-color-primary-hover	: #CC7D00;
// Secondary Button
$btn-color-secondary		: #D4D4D4;
$btn-color-secondary-hover	: #6E6E6E;
// Footer
$footer-bg-color			: #f2f2f2;

/* Dashboard Color */
$dashground-color			: #EEEEEE;
$dashground-panel_color		: #F5F5F5;

// Import css files
/*------------------------- calling common/style */
@import "style";
/*------------------------- calling common/color */
@import "color";
/*------------------------- calling common/button */
@import "button";
/*------------------------- calling common/heading */
@import "heading";
/*------------------------- calling common/authform */
@import "authform";
/*------------------------- calling common/stokes */
@import "strokes";
/*------------------------- calling common/footer */
@import "footer";