<%# footer styled for Bootstrap 3.0 %>
<div class="container">
		
	<div class="col-md-3 col-sm-3">
		<!-- begin logo footer -->
		<%= image_tag "logo.png", :title => "footer logo" %>
		<!-- end logo footer -->
		<p>
			Lorem ipsum dolor sit amet, 
			consectetur adipiscing elit. Aliquam 
			sem, nec iaculis nulla.
		</p>
	</div>

	<div class="col-md-2 col-md-offset-1 col-sm-3">
		<h4>Sample Links</h4>
		<div class="underline-small"></div>
		<ul>
			<li>
				<a href="#team">About us</a>
			</li>
			<li>
				<a href="#">
				Jobs
				<span class="jobs">We're hiring!</span>
				</a>
			</li>
			<li>
				<a href="#">Plans &amp; Pricing</a>
			</li>
			<li>
				<a href="#">Privacy Policy</a>
			</li>
			<li>
				<a href="#">Terms &amp; Condition</a>
			</li>
		</ul>
	</div>

	<div class="col-md-2 col-md-offset-1 col-sm-3">
		<h4>Draw us a line</h4>
		<div class="underline-small"></div>
		<ul>
			<li>Lamap</li>
			<li>Address</li>
			<li>Phonenumber</li>
			<li>
				<a href="mailto:info@yourdomain.com">info@domain.com</a>
			</li>
		</ul>
	</div>

	<div class="col-md-2 col-md-offset-1 col-sm-3">
		<h4>Get Social</h4>
		<div class="underline-small"></div>
		<ul class="list-inline">
			<li>
				<a href="#"><i class="fa fa-facebook"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-twitter"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-instagram"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-google-plus"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-vimeo-square"></i></a>
			</li>
			<li>
				<a href="#"><i class="fa fa-youtube"></i></a>
			</li>
		</ul>
	</div>

	<div class="col-md-12 text-center">
		<p><small>Copyright &copy; 2015 Polo & Marco</small></p>
	</div>
		
</div>