<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <% if controller_name == 'visitors' && action_name == 'index' %>
    <div class="uxstarlab">
      <div>
        <%= link_to "http://www.ux-republic.com/ux-star-lab/", :target => "_blank" do %>
           made with <i class='fa fa-heart pictopulse'></i> by <%= image_tag "partners/XS-logo-white.png", :title => "UX-Republic", :class => "logo" %> STAR LAB 
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Polo & Marco', 'http://www.polonmarco.com', class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      
        <%= render 'layouts/navigation_links' %>
      
    </div>
  </div>
</nav>